.Carousel {
  background-color: rgb(29, 30, 33,0.25);
  padding-bottom: 40px;
}

.Title {
  color: #ffcba4;
  text-align: center;
  font-weight: bold;
  font-family: Quicksand, sans-serif;
  font-size: 69px;
  padding: 15px;
  
}
