.CarouselSpan {
  display: flex;
  justify-content: center;
}

.CarouselImage {
  width: 50%;
  height: 500px;
}

.Quote {
  display: inline-block;
  width: 80%;
  font-size: 43px;
  line-height: 1.2em;
  color: black;
}

.Name,
.Title {
  font-weight: bold;
  color: black;
}

.Location {
  color: black;
}
