.Intro {
  background-color: #323232;
}

.ImageWrapper {
  display: flex;
  justify-content: center;
}

.ImageBg {
  display: block;
  padding: 10px;
  margin: 0px;
  background-color: white;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  text-align: center;
  width: 488px;
  height: 488px;
  object-fit: cover;
  object-position: 50% 50%;
}

.Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Title {
  font-size: 51px;
  font-weight: bold;
  line-height: normal;
}

.Subtitle {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.4em;
}

.Description {
  
}
