.Achievement {
  background-color: rgb(29, 30, 33);
  margin-top: 40px;
  padding-bottom: 40px;
}

.SubBanner {
  background-image: url('../../assets/images/sub-banner.jpg');
  height: 176px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Title {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}
