.Achievement {
  background-color: rgb(29, 30, 33);
  margin-top: 40px;
  padding-bottom: 40px;
}

.SubBanner {
  background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),  url('../../assets/images/sub-banner.jpg');
  background-position: center;
  background-size: cover;
  height: 176px;   
  
}

.Title {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 69px;
  padding: 30px;
  text-shadow: 4px 4px #2e2a2a;
  font-family: Quicksand, sans-serif;
}
