@import url('https://fonts.googleapis.com/css?family=Quicksand');

.Banner {
  background-image: url('../../assets/images/banner.jpg');
  background: linear-gradient(to right, rgba(0, 0, 0, 0.55), transparent ), url('../../assets/images/banner.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  background-position: center;
  
}

.TextPosition {
  position: relative;
  left: 170px;
  top: 150px;
  width: 940px;
}

.TitleText {
  color: #FCD1CC;
  font-family: Quicksand, sans-serif;
  font-size: 90px;
  font-weight: 900;
  text-shadow: #ffffff 3px 3px 3px, rgb(19, 19, 19) 6px 6px 0px;
  letter-spacing: 0.05em;
  line-height: normal;
  
}

.DescriptionText {
  color: rgb(255, 255, 255);
  font-family: Quicksand, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: rgb(0 0 0 / 50%) -1px -1px 0px, rgb(0 0 0 / 50%) -1px 1px 0px, rgb(0 0 0 / 50%) 1px 1px 0px, rgb(0 0 0 / 50%) 1px -1px 0px;
}

.JinritvBtn {
  color: #1D1E21 !important;
  font-family: Quicksand, sans-serif;
  border-color:#FCD1CC !important;
  background: #FCD1CC !important;
  padding: 15px !important;
  font-weight: bolder !important;
  font-size: 18px !important;
}